<h3>Demo table</h3>

<p>This table demonstrates some of the basic functionality of Llama Table.</p>

{{llama-table
	rows=tableData
	columns=tableColumns
	config=config
	removeRow="removeRow"
	removeAll="removeAll"
	cellClick="cellClick"
}}

<h4>Actions</h4>

<button {{action 'addColumn'}}>Add new column</button>
<button {{action 'shuffleColumns'}}>Shuffle columns</button>
<button {{action 'updateData'}}>Update data</button>
<button {{action 'toggleHidden'}}>Toggle hidden column</button>

<h4>Info</h4>

<p>
	<a href="http://rickandmorty.wikia.com/wiki/Rick_and_Morty" title="Rick and Morty Wiki">Table data source</a>
</p>


<h4>Events</h4>

{{#each event in events}}
	<p>Clicked row {{event.index}}: {{event.row.title}}<br>Clicked on "{{event.column.label}}"</p>
{{/each}}
