<h3>Pagination control</h3>

<p>This table will display a subset of the records.</p>

{{llama-table
	rows=tableData
	columns=tableColumns
	config=tableConfig
	currentPage=currentPage
	rowsPerPage=3
}}
<p>Page Index: {{currentPage}}</p>
<p>
	<button {{action 'setPage' 1}}>1</button>
	<button {{action 'setPage' 2}}>2</button>
	<button {{action 'setPage' 3}}>3</button>
	<button {{action 'setPage' 4}}>4</button>
</p>
