<h3>Pagination control</h3>

<p>This table will display a subset of the records.</p>

<div class="input-container">
  <label>Number of rows in the table: </label><br>
  {{input type="number" value=rowsInTable}}
</div>

<div class="input-container">
  <label>Number of rows per page: </label><br>
  {{input type="number" value=rowsPerPage}}
</div>

{{llama-table
	rows=tableData
	columns=tableColumns
	config=tableConfig
	currentPage=currentPage
	rowsPerPage=rowsPerPage
}}

<p>Page Index: {{currentPage}}</p>
<p>
  {{#each buttons as |button|}}
    <button {{action 'setPage' button}}>{{button}}</button>
  {{/each}}
</p>
